body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background: url('../assets/BG2.jpg') center/cover no-repeat;
}

.nav-container {
    background-color: white;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    flex-grow: 1;
}

.logo img {
    max-height: 75px;
    margin-left: 150px;
}

nav {
    text-align: right;
    margin-right: 100px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-left: 70px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.image-button,
.image-button2 {
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
}

.image-button img,
.image-button2 img {
    width: 35px;
    height: auto;
    margin-bottom: -10px;
}

.image-button-container {
    margin-top: 20px;
}

.image-button2 img {
    width: 80px;
    height: auto;
    margin-bottom: -20px;
    margin-left: 50px;
}

.image-button2-container {
    margin-left: 100px;
}

.circle {
    width: 30px;
    height: 30px;
    background-color: #5900cb;
    border-radius: 50%;
    margin-left: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.circle-number {
    color: white;
    font-size: 18px;
}

.rounded-button {
    background-color: #5900cb;
    color: white;
    padding: 20px 80px;
    border-radius: 100px;
    margin-left: 40px;
    cursor: pointer;
    border: none;
}

.hero-section {
    text-align: left;
    padding: 80px;
    min-height: 100vh;
    background: url('D:/ITTS/Semester 3/PB/TUBES/Asset web/HTML/header after login/assets/BG2.jpg') center/cover no-repeat;
    color: #fff;
}

.hero-section h3 {
    font-size: 2em;
    margin-bottom: -50px;
    color: #5900cb;
}

.hero-section h1 {
    font-size: 7em;
    margin-bottom: -100px;
    color: #ffffff;
    text-shadow: 7px 7px 4px rgba(0, 0, 0, 0.5);
}

.hero-section h2 {
    font-size: 7em;
    margin-bottom: 30px;
    color: #5900cb;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    text-shadow: 7px 7px 4px rgba(0, 0, 0, 0.5);
}

.hero-section h2::after {
    content: "";
    display: block;
    width: 15px;
    height: 120px;
    background-color: #5900cb;
    position: absolute;
    bottom: -90px;
    left: 5%;
    transform: translateX(-50%);
}

.hero-section p {
    color: #ffffff;
    font-size: 2em;
    margin-left: 30px;
    margin-bottom: -95px;
    margin-top: 100px;
    text-shadow: 7px 7px 4px rgba(0, 0, 0, 0.5);
}

.explore-button {
    display: inline-block;
    padding: 20px 40px;
    background-color: #5900cb;
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    margin-top: 200px;
    border-radius: 40px;
    font-weight: 700;
}


.showcase-section {
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.benefit {
    flex: 1;
    margin: 20px;
    width: 250px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.benefit:nth-child(1) {
    background-color: 	#25b17b;

}

.benefit:nth-child(2) {
    background-color: #92ad42;

}

.benefit:nth-child(3) {
    background-color: #2c5a35;

}

.benefit img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    margin-top: 70px;
}

.benefit h3 {
    font-size: 1.5em;
    margin: 20px 0 10px;
    color: #fff;
}

.benefit p {
    font-size: 1.2em;
    color: #fff;
}


.category-section {
    background-color: #ffffff;
    padding: 50px 20px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.category-section h1 {
    margin-bottom: 30px;
    color: #5900cb;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.5);
}

.category-button {
    display: inline-block;
    margin: 0 10px;
    padding: 15px 20px;
    cursor: pointer;
    border: none;
    background: none;
    outline: none;
}

.category-button img {
    max-width: 100%;
    max-height: 100%;
}

/* Footer Container */
.footer-container {
    background-color: #333;
    color: #fff;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

/* Footer Menu */
.footer-menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Footer Section */
.footer-menu section {
    width: 23%;
    margin-bottom: 20px;
}


.footer-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-menu a {
    text-decoration: none;
    color: #fff;
   
}

.footer-menu a:hover {
    text-decoration: underline;
}


.footer-copyright {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}


@media (max-width: 768px) {
    .footer-menu section {
        width: 48%;
    }
}


.app-download {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.app-download button {
    background: none;
    border: none;
    padding: 0; 
    cursor: pointer;
}


.app-download button img {
    width: 200px; 
    height: auto; 
}
